/**
 * RESET
 */

* { 
    -webkit-box-sizing: border-box; 
    -moz-box-sizing: border-box; 
    box-sizing: border-box; 
}

html {
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}

html, body, div, span, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, code, em, img, strong, center, ol, ul, li, form, label, legend, table, tbody, tfoot, thead, tr, th, td {
    margin: 0;
    padding: 0;
    border: 0; 
    outline: 0; 
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
    -webkit-appearance: none; 
    -moz-appearance: none;
}

article, footer, header, hgroup, nav, section {
    display: block;
}

ol, ul {
    list-style: none;
}

blockquote:before, blockquote:after, q:before, q:after {
    content: '';
    content: none;
}

table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
}

strong {
    font-weight: 600;
}

:focus {
    outline: 0;
}

/**
 * GLOBALS
 */

body, input, textarea, select, button {
    line-height: 1.35rem;
    font-size: .85rem;
    font-weight: 400;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #444;
}

body {
    overflow-y: scroll;
    background: #fff;
}

a {
    cursor: pointer;
    text-decoration: none;
    color: inherit;
}

img,
svg {
    display: inline-block;
    vertical-align: top;
}

img {
    max-width: 100%;
    height: auto;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 600;
}

a,
input,
button,
svg {
    -webkit-transition: .2s;
    -moz-transition: .2s;
    -ms-transition: .2s;
    -o-transition: .2s;
    transition: .2s;
}

button {
    cursor: pointer;
}

input[type=text] {
    padding: .3rem .7rem;
    border: 1px solid #eaeaea;
    border-radius: .3rem;
}
input[type=text]:focus {
    border-color: #f5d28e;
}

/**
 * DISPLAY
 */

.d-flex {
    display: flex;
}

.d-none {
    display: none;
}

.flex-wrap {
    flex-wrap: wrap;
}

.flex-fill {
    flex: 1;
}

.align-items-center {
    align-items: center;
}

.justify-content-center {
    justify-content: center;
}

/**
 * TEXT
 */

.text-center {
    text-align: center;
}

/**
 * LAYOUTS
 */

.container {
    max-width: 800px;
    margin: 0 auto;
}

#main {
    padding: 2rem 0;
}

#content {
    flex: 1;
    padding-right: 2rem;
    margin-right: 2rem;
    border-right: 1px solid #f1f1f1;
}

#sidebar {
    width: 240px;
}

/**
 * HEADER
 */

#header {
    padding: 2rem 0;
    border-bottom: 1px solid #f2f2f2;
}

#header .site-name {
    line-height: 1.9rem;
    letter-spacing: -.75px;
    font-size: 1.4rem;
    font-weight: 700;
}

#header .toggle-menu {
    display: none;
    width: 20px;
    padding: .25rem 0;
    flex-direction: column;
    margin-left: 2.15rem;
}
#header .toggle-menu span {
    height: 2px;
    margin-bottom: 3px;
    background: #333;
    transition: .3s;
}
#header .toggle-menu span:last-child {
    width: 70%;
    margin-bottom: 0;
}

#header .menu,
#header .menu ul {
    display: flex;
}
#header .menu {
    padding: 0 2.15rem;
}
#header .menu li {
    margin: 0 .35rem;
}
#header .menu li a {
    letter-spacing: -.25px;
    font-weight: 500;
}
#header .menu li a:hover {
    color: #999;
}

#header .search-form input {
    width: 100%;
}

/**
 * TITLE
 */

.archive-title {
    margin: -.35rem 0 1.65rem 0;
    line-height: 1.6rem;
    font-size: 1.1rem;
    font-weight: 600;
}

.section-title {
    margin: -.3rem 0 1.65rem 0;
    line-height: 1.25rem;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-size: .75rem;
    color: #888;
}

/**
 * TRACKS
 */

.tracks .track {
    position: relative;
    margin-bottom: .75rem;
}
.tracks .track:last-child {
    margin-bottom: 0;
}
.tracks .track .image {
    width: 50px;
}
.tracks .track .image img {
    width: 50px;
    height: 50px;
    object-fit: cover;
    -webkit-border-radius: 10rem;
    border-radius: 10rem;
}
.tracks .track .detail {
    padding: 0 .75rem;
}
.tracks .track .title {
    display: -webkit-box;
    white-space: normal;
    overflow: hidden;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    font-size: .85rem;
    font-weight: 500;
    color: #36559c;
}
.tracks .track .meta {
    line-height: 1.3rem;
    font-size: .8rem;
    color: #777;
}
.tracks .track .meta span {
    display: inline-block;
    position: relative;
    top: 1.75px;
    width: 1px;
    height: .75rem;
    margin: 0 .65rem;
    background: #ddd;
}
.tracks .track .btn {
    padding: .2rem .55rem;
    text-transform: uppercase;
    line-height: 1.15rem;
    font-size: .65rem;
    font-weight: 500;
    border: 1px solid #eaeaea;
    -webkit-border-radius: .2rem;
    border-radius: .2rem;
}
.tracks .track a:before {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    content: '';
}
.tracks .track:hover > .btn {
    background: #36559c;
    border-color: #36559c;
    color: #fff;
}

/**
 * SINGLE
 */

.single .details {
    display: flex;
    align-items: center;
}
.single .details .image {
    width: 100px;
}
.single .details .image img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    -webkit-border-radius: .35rem;
    border-radius: .35rem;
}
.single .details .info {
    padding-left: 1.5rem;
}
.single .details .info {
    color: #777;
}
.single .details .info strong {
    color: #333;
}
.single .download-btn {
    display: inline-block;
    padding: 0 2rem;
    margin: 2rem 0 0 0;
    line-height: 38px;
    background: #36559c;
    border: none;
    color: #fff;
    -webkit-border-radius: .35rem;
    border-radius: .35rem;
}
.single iframe {
    width: 320px;
    height: 38px;
    margin: 2rem 0 0 0;
}

.single .related {
    margin-top: 2rem;
    padding-top: 2rem;
    border-top: 1px solid #f2f2f2;
}

/**
 * PAGE
 */

.page-content {
    margin: -.35rem 0 -1.65rem 0;
}
.page-content > * {
    margin-bottom: 1.35rem;
}
.page-content h2 {
    margin: -.1rem 0 1.1rem 0;
    line-height: 1.5rem;
    font-size: 1rem;
}
.page-content h3 {
    line-height: 1.4rem;
    font-size: .9rem;
}
.page-content h4,
.page-content h5,
.page-content h6 {
    line-height: 1.3rem;
    font-size: .8rem;
}
.page-content a {
    color: #36559c;
}
.page-content a:hover {
    text-decoration: underline;
}

/**
 * WIDGET
 */

.widget {
    margin-bottom: -.35rem;
}
.widget ul {
    margin: -.8rem 0 -.6rem 0;
}
.widget ul li {
    line-height: 1.3rem;
    font-size: .8rem;
    border-bottom: 1px solid #f2f2f2;
}
.widget ul li a {
    display: block;
    padding: .5rem 0 .4rem 0;
}
.widget ul li a span {
    display: -webkit-box;
    white-space: normal;
    overflow: hidden;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}
.widget ul li a:hover {
    text-decoration: underline;
}
.widget ul li:last-child {
    border-bottom: none;
}
.widget ul li:last-child > a {
    padding-bottom: 0;
}
.widget:last-child {
    position: sticky;
    top: 1.7rem;
}

/**
 * FOOTER
 */

#footer {
    padding: 1.75rem 0;
    line-height: 1.3rem;
    font-size: .8rem;
    border-top: 1px solid #f2f2f2;
    color: #999;
}

/**
 * RESPONSIVE
 */

@media (max-width: 864px) {
    .container {
        max-width: 400px;
    }

    .wrapper {
        flex-direction: column;
    }

    #content {
        padding-right: 0;
        margin-right: 0;
        border-right: 0;
    }

    #header {
        padding: 1.55rem 0;
    }
    #header .site-name {
        flex: 1;
    }
    #header .toggle-menu {
        display: inline-flex;
        position: relative;
    } 
    #header .toggle-menu.toggled span {
        position: absolute;
        top: 50%;
        margin: -1px 0 0 0;
        width: 100%;
    }
    #header .toggle-menu.toggled span:first-child {
        transform: rotate(45deg);
    }
    #header .toggle-menu.toggled span:last-child {
        transform: rotate(-45deg);
        width: 100%;
    }
    #header .hideable {
        display: none;
    }
    #header .hideable.show {
        display: flex;
        flex: 0 0 100%;
        flex-direction: column;
    }
    #header .hideable.show > * {
        width: 100%;
    }
    #header .menu {
        margin: 1.2rem 0 1.65rem 0;
    }
    #header .menu,
    #header .menu ul {
        flex-direction: column;
    }
    #header .menu ul li {
        text-align: center;
    }
    #header .search-form {
        padding-bottom: .45rem;
    }

    #sidebar {
        width: 100%;
        padding-top: 2rem;
        margin-top: 2rem;
        border-top: 1px solid #eaeaea;
    }

    .widget ul {
        margin-bottom: .4rem;
    }

    .single .archive-title {
        text-align: center;
    }

    .single .details {
        flex-direction: column;
    }
    .single .details .image {
        width: auto;
    }
    .single .details .image img {
        width: 180px;
        height: 180px;
    }
    .single .details .info {
        padding-left: 0;
        margin: 1.65rem 0 -.35rem 0;
    }
    .single .details p {
        text-align: center;
    }
}

@media (max-width: 464px) {
    .container {
        max-width: auto;
        margin: 0 2rem;
    }
}

@media (max-width: 380px) {
    .tracks .track .detail {
        padding-right: 0;
    }
    .tracks .track .btn {
        display: none;
    }
}

/**
 * LAZY IMAGE
 */

img.lazy {
    opacity: 0;
}
img.lazy-show {
    opacity: 1; 
    -webkit-animation: fadein .5s; 
    -moz-animation: fadein .5s; 
    -ms-animation: fadein .5s; 
    -o-animation: fadein .5s; 
    animation: fadein .5s
}

@keyframes fadein {
    from { opacity: 0; }
    to { opacity: 1; }
}
@-moz-keyframes fadein {
    from { opacity: 0; }
    to { opacity: 1; }
}
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to { opacity: 1; }
}
@-ms-keyframes fadein {
    from { opacity: 0; }
    to { opacity: 1; }
}
@-o-keyframes fadein {
    from { opacity: 0; }
    to { opacity: 1; }
}
